
html{
    font-size: 62.5%;
}
/*适配iPad(max:760px);*/

/*第一部分个人用户信息*/
.person_Info{
    width:100%;
    height:20.8rem;
    display: flex;
    border-bottom:.4rem solid #eeeeee;
}
/*包裹个人盒子的头像*/
.person_imgBox{
    width:17.6rem;
    height:100%;
    /*padding: 2.7rem;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/*个人头像*/
.person_imgBox>img{
    width:15rem;
    height: 15rem;
}
/*个人信息盒子*/
.person_InfoNameBox{
    height:100%;
    margin-left:4rem;
    width:53.3rem;
    display: flex;
    flex-direction: column;

    justify-content: center;
}
/*个人名字*/

.person_InfoNameBox>p{
    font-size: 3rem;
    margin-bottom:3rem;
    color:#333333;
    font-family: 微软雅黑;
}
/*积分*/
.person_InfoNameBox>span{
    font-size: 2.4rem;
    color:#999999;
    font-family: 微软雅黑;
}

/*第二部分 订单与收藏*/
.person_orderCollect{
    width:100%;
    height:15.4rem;
    display: flex;
    align-items: center;
}
/*订单*/

.person_order{
    width:49%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/*订单图标*/
.person_order>img{
    width:4rem;
    height:5.1rem;

}
/*订单文字*/
.person_order>span{

    font-size: 2.8rem;
    color:#333333;
    font-family: 微软雅黑;
    margin-top:1.8rem;

}

/*分界线*/
.person_orderCollect>div:nth-child(2){
    width:.2rem;

    height:10.4rem ;
    background-color: #CACACA;

}
/*收藏块*/
.person_collect{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*收藏图标*/
.person_collect>img{
    width:4.5rem;
    height:4.5rem;

}
/*收藏文字*/
.person_collect>span{

    font-size: 2.8rem;
    color:#333333;
    font-family: 微软雅黑;
    margin-top:1.8rem;

}

/*分界线*/
.person_hr{
    width:100%;
    height:2rem;
    background-color: #eeeeee;
}
.person_hrBold{
    width:100%;
    height:2rem;
    background-color: #eeeeee;
}
/*功能栏*/
.person_funBlock{
    width:100%;
    height:10.2rem;
    display: flex;
    align-items: center;
    border-bottom:.2rem solid #eeeeee;
}

.person_funImageBox{
    height:100%;
    width:14rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.person_shopIcon{
    width:4.3rem;
    height:4.3rem;
}

.person_funBlock_text{
    width:80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.person_funBlock_text>span{
    color:#333333;
    font-family: 微软雅黑;
    font-size: 3.2rem;

}
.person_numsArrow{
    width:1.9rem;
    height: 3.2rem;
    margin-right:2rem;
}
.person_creditIcon{
    margin-left: 3.5rem;
    margin-right: 2.5rem;
    width: 4.4rem;
    height:3.9rem;

}
.person_addressIcon{
    width: 3.1rem;
    height:4.6rem;

}
.person_payIcon{
    width: 4.8rem;
    height:4.2rem;

}
.person_concernIcon{
    width: 4.2rem;
    height:3.7rem;
}
.person_funBlock_note{
    display: flex;
    align-items: center
}
.person_funBlock_note>span:nth-child(1){
    margin-right:1.3rem;
    font-size: 3.1rem;
    color: #333333;
}
