
/*首页的样式*/
/*导航栏*/
.credit_bar{
    height:4.6rem;
    background-color:#f9fdfc;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.creditBar_logoDiv{

    width:4.8rem;
    height:2.45rem;
    background:url('../../images/logo.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
input.creditBar_Input{
    padding-left: 1.6rem;

    display: inline-block;
    width:26.25rem;
    height:2.55rem;
    background-color:#f9fdfc;
    border: .1rem solid #b5b5b5;
    border-radius:1.25rem /1.25rem;
}
.creditBar_search{
    width:1.55rem;
    height:1.55rem;
    background:url(../../images/search.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    right:1rem;
    top:.75rem;

}
.creditBar_sideList{
    width:2.2rem;
    height:1.4rem;
    background:url(../../images/sidelist.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.credit_rec{
    width:18rem;
    height:2rem;

    background: url('../../images/goodsConvert.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 1.1rem auto;
}

/*商品内容的盒子*/
.credit_goodsBox{
    width: 99%;
    margin: 0 auto;
}

.credit_goods{

    background-color: white;
    width:48%;
    height:15.7rem;
    margin-bottom:.55rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.credit_goods>img{
    width: 17.3rem;
    height:9.3rem;

}
.credit_goods>span{
    width: 15.7rem;
    height:2.26rem;
    font-size: 1.1rem;
    color:#333;
    line-height: 1.1rem;
    overflow:hidden;
    font-family: "Microsoft Yahei";



}
/*单个商品盒子*/
.credit_goodsContentBox{
    width: 15.7rem;
}
/*商品内容*/
.credit_goodsContent{

    width:5.55rem;
    height:1.05rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.credit_goodsContent>span:nth-child(1){
    width:2.45rem;
    height:1.05rem;
    line-height: 1.05rem;
    font-size: 1.05rem;
    color: #e60012
}
.credit_goodsContent>span:nth-child(2){
    width:2.5rem;height:0.85rem;
    line-height: 1.05rem;
    font-size: 0.85rem;
    text-decoration: line-through;
    color: #999
}


