
.myC_top{
    width:100%;
    height:6rem;
    background: white;
    margin-bottom: 1rem;


}
.myC_topContent{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.myC_topContent>span{
      width:15rem;
      height:2.3rem;
     font-size: 1.4rem;
     color:#ED3743;
    display: inline-block;
}
.myC_topContent>div{
    width:5rem;
    height:2.3rem;
    font-size: 1.4rem;
    border:.05rem solid #ED3743;
    color: #ED3743;
    text-align: center;
    line-height: 2.3rem;
}

.myC_bottom{

      width: 100%;

}

.myC_btmFirst{
    width:100%;
    height:3rem;
    background-color:#ffffff;
    display: flex;
    align-items: center;
    border-bottom: .1rem solid #bdbdbd;

}
.myC_btmFirst>div{
    width: 94%;
    margin: 0 auto;
}
.myC_btmFirst>div>span{

    font-size: 1.2rem;
    color: #333;
    font-family: 微软雅黑;
}
.myC_btmSecond{
    width:100%;
    height:5rem;
    background-color:#ffffff;
    border-bottom: .1rem solid #bdbdbd;
}
.myC_btmSecondContent{
    width: 94%;
    height:100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.myC_btmSecondContentLeft{
    display: flex;
    flex-direction: column;
    width: 10rem;
    height:100%;
    justify-content: space-around;
}
.myC_btmSecondContentLeft>span:nth-child(1){
    font-size: 1.3rem;
    height:1.2rem;
    color: #333;
    line-height: 1.2rem;
    font-family: 微软雅黑;
}
.myC_btmSecondContentLeft>span:nth-child(2){
    font-size: 1rem;
    color: #333;
    height:.6rem;
    line-height: .6rem;


}
.myC_btmSecondContentRight{
    width:3.25rem;
    height: 100%;
    display: flex;
    align-items: center;
}
.myC_btmSecondContentRight>span{
    font-size: 1.3rem;
    color: #ED3743;
}





