html{
    font-size: 62.5%;
}
div.modal-backdrop{

    background-color:rgba(143,135,131,.5);
}


/*ion-modal-view 的样式*/
#shopCard{
    position:fixed;
    height: auto;
    top: auto;
    bottom:0;
    min-height: inherit;


}


/*加入购物车的全部内容*/
#card{
    width:100%;
    height:20.85rem;

}
/*购物车内容 第一部分 商品和详情*/
.shopCard_top{
    height:10.15rem;
    width: 100%;
    display:flex;
    justify-content:space-between ;
    align-items: center;

}
/*第一部分左边图片*/
.shopCard_top>img{
    width:14.6rem;
    margin-left:1.5rem;
    height:7.7rem;
}
/*card 头部右边的内容*/
.shopCard_top>div{
    margin-left: 1.3rem;
    height:7.7rem;
    margin-right: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}
/*第一部分右边标题详情*/
.shopModal_title>h4{
    margin: 0;
    padding: 0;
    height:3.1rem;
    font-size:1.3rem ;
    color:#333333;
    font-family: 微软雅黑;
}
/*商品价钱*/
.shopModal_title>p{
    margin: 0;
    padding: 0;
    margin-top:.7rem;
    color:#E80516 ;
    font-family: 微软雅黑;
    font-size: 1.5rem;

}
/*价钱符号*/
.shopModal_title>p>span{
    font-size: 1.2rem;
}
.shopCard_topBottom{
    display: flex;
    width:90%;
    font-size: 1.1rem;
    color: #666666;
    font-family: 微软雅黑;
    justify-content: space-between;
}
/*第一部分与第二部分分界线*/
.shopCard_TopHr{
    width:95%;
    margin: 0 auto;
    height:.1rem;
    background-color:#E2E2E2;
}
/*第二部分 数量操作样式*/
.shopCard_center{

    height:5.4rem;
    width: 100%;

}
/*第二部分 数量操作样式内容*/
.shopCard_centerBox{
    display: flex;
    justify-content: space-between;
    width:90%;
    align-items: center;
    height:100%;
    margin: 0 auto;
}
/*左边数量的样式*/
.shopCard_center_left{
    font-size: 1.2rem;
    vertical-align: top;
    display: inline-block;
    font-family: 微软雅黑;
    color: #333333;
}
/*加减按钮中间的input的样式*/

/*加减按钮的样式*/


/*第三部分按钮样式*/
.shopCard_bottom{
    height:5.15rem;
    width: 100%;
    font-size: 0;
    display: flex;
    /*position: absolute;*/
    /*top:0;*/
}
/*最下面的按钮*/

.shopCard_bottom>button{
    width:50%;
    height:100%;
    background-color: #e60012;
    border: 0;
    padding: 0;
    color: white;

    font-family: 微软雅黑;
    font-size: 1.5rem;
}
.shopCard_bottom>button:nth-child(1){
    background-color: #f27f88;
}



/*弹窗样式*/
div.popup{

    width:30.65rem;
    height:17.6rem;
}
div.popup-head{
    width:0;
    height: 0;
    padding: 0;
    border: 0;
}
div.popup-body{
    width:100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color:#333333;
    font-family: MicrosoftYaHei;
    align-items: center;
    height: 14.4rem;
}
div.popup-buttons{
    width: 100%;
    height:5.2rem;
}
