
@media all and (max-width: 480px){

    .topCarouselImg{
        height: 18rem;
        width: 100%;
    }
}
@media all and (min-width: 480px){
    .topCarouselImg{
        height: 24rem;
        width: 100%;
    }
    /*.view-container{*/
    /*width: 48rem;*/
    /*}*/

}
html{
    font-size: 62.5%;
}
.topCarousel{
    position: relative;

    /*width: calc(100% + 20px);*/
    width: 100%;

}
.topCarousel .slider-pager{
    text-align: right;
    height: 3rem;
}

.topCarousel .slider-pager-page{
    width: .1rem;
}
.topCarousel .ion-record{
    position: relative;
    bottom: -2rem;
    right: 2rem;
    display: block;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: white;
}
.slideBottomDiv{
    position: absolute;
    padding-left: 1.5rem;
    bottom: .6rem;
    width: 100%;
    font-size: 1.5rem;
    line-height: 3rem;
    height: 3rem;
    background-color: rgba(0,0,0,.3);
    color: white;
}
.popup-buttons{
    border-top: solid 1px #d1d3d6;
    padding: 0;
    min-height: 0;
}

.popup-container .popup{
    width: 300px;
    border-radius: 6px;
}
/*.button.button-dark.button-clear{*/
/*border-right: solid 1px #d1d3d6;*/
/*}*/