<ion-view style="background-color:#eeeeee ">

    <ion-content>
        <div class="collect_topHr"></div>
        <div class="collect_block" ng-repeat="goods in collect.goodsNumArray">
            <img class="collect_Image" src="images/myOrder.png" alt="">
            <div class="collect_blockRight">
                <div class="blockRight_title">
                    <div class=" blockRight_describe">
                        <span>{{collect.goods_title}}</span>
                    </div>
                    <div class="blockRight_titlePrice">
                        <span>{{collect.goods_price}}</span>
                        <span>{{collect.goods_num}}</span>
                    </div>
                </div>
                <div class="btnBlock">

                    <button ng-if="collect.goods_name=='积分商品'">立即兑换</button>
                    <button ng-if="collect.goods_name=='普通商品'" ng-click="collect.showShopCar()">加入购物车</button>
                    <button ng-click="collect.delete($index)">删除</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>