<ion-view view-title="首页">
    <!--<div class="home_service" on-touch="home.serviceTouch($event)" on-drag="home.serviceDrag($event)">-->


    <!--</div>-->
    <ion-header-bar class="home_bar">
       <div class="homeBar_logoDiv"></div>
        <div style="position: relative">
            <input type="text" class=" homeBar_Input" placeholder="例: 大闸蟹">
            <div class="homeBar_search" ng-click="home.search()"></div>
        </div>


        <div class="homeBar_sideList" ng-click="toggleLeft()">

        </div>
    </ion-header-bar>

    <ion-content  style="background-color: #eeeeee">


        <!--<my-slide-box source-array="home.slideArray" class="slideBox"></my-slide-box>-->
        <div class="home_rec"></div>

        <div  class="row-wrap row home_goodsBox" >

            <div ng-repeat="goods in home.goodsListArray" class="home_goods">

                <img ng-src="{{goods.goods_introduction}}" alt="">

                <span>{{goods.goods_name|limitTo:18}}...</span>
                <div  class="home_goodsContentBox">

                    <div class="home_goodsContent">

                        <span >￥48</span>
                        <span >￥68</span>

                    </div>

                </div>



    </div>

</div>

    </ion-content>



</ion-view>