<ion-view>


    <ion-content style="background: #eeeeee">
         <div class="shopCH_header">
             <span class="shopCH_radio" ng-click="shopCarHome.changeState()">
                 <span ng-if='shopCarHome.hasClass=="全部"&&shopCarHome.hasClassOne=="选中"'></span>
             </span>
             全选
         </div>

          <div class="shopCH_content">
               <span class="shopCH_radio" ng-click="shopCarHome.changeStateOne()">
                 <span ng-if='shopCarHome.hasClass=="全部"||shopCarHome.hasClassOne=="选中"'></span>
             </span>
              <div class="shopCH_contentRight">
                  <img src="images/myOrder.png" alt="" class="shopCH_contentRightImg">
                  <div class="shopCH_contentRightSpan">
                      <span >买1份送1份日王阳澄湖大闸全母螃蟹3.2-3.0两6只鲜活现货礼盒装</span>

                  </div>
                  <div class="shopCH_price">
                  <span>￥258</span>
                  <span>x1</span>
                  <span></span>
                  </div>
              </div>
          </div>
    </ion-content>

</ion-view>