<ion-modal-view class="modal" id="shopCard" >

    <div id="card" >
        <div class="shopCard_top">
            <img src="images/address.png" alt="">
            <div>
                <div class="shopModal_title">
                    <h4>阳澄湖大闸蟹阳澄湖大闸蟹阳澄湖大闸蟹</h4>
                    <p><span>￥</span>{{collect.money}}/件</p>
                </div>

                <div class="shopCard_topBottom">
                    <span>库存{{collect.count}}件</span>

                </div>

            </div>

        </div>

        <div  class="shopCard_TopHr"></div>

        <div class="shopCard_center" >


            <div class="shopCard_centerBox">
                <div class="shopCard_center_left">
                    <span >数量</span>
                </div>
                <div  style="display: flex" >
                    <div style="width:3.85rem;height:2.1rem;background-color:#b9b8b8;text-align: center;color: white;font-size: 2rem" class="icon ion-minus"  ng-click="collect.reduce()"></div>
                    <div style="width:3.85rem;height:2.1rem;border:.05rem solid gray;text-align: center;">{{collect.val}}</div>
                    <div style="width:3.85rem;height:2.1rem;background-color: gray;text-align: center;font-size: 2rem;color: white;" class=" icon ion-plus" ng-click="collect.add()"></div>


                </div>

            </div>

        </div>

        <div class="shopCard_bottom"  >

            <button>
                加入购物车
            </button>
            <button>
                立即购买
            </button>
        </div>
    </div>

</ion-modal-view>