
<div class="topCarousel">
    <ion-slide-box  delegate-handle="topCarouselSlideBox" auto-play="true" slide-interval="3000"  does-continue="true" show-pager="true" on-drag="drag($event)" on-slide-changed="slideHasChanged($index)" ng-if="isShowSlideBox">

        <ion-slide ng-repeat="num in sourceArray" ng-click="goToDetailView($index)" >
            <img ng-src="{{num.imgsrc}}" class="topCarouselImg" ng-if="num.title">
        </ion-slide>


    </ion-slide-box>
    <div class="slideBottomDiv"></div>
</div>